
.classpath
resources/scriptCreator.properties
bin/com/drg/main/QueryGenerator.class
bin/com/drg/tools/ExcelReader.class
bin/com/drg/tools/QueryTools.class
.classpath
*.class
/.metadata/
C:\Users\David\OneDrive\JavaProjects\ScriptCreator\logs\scriptcreator.log
C:\Users\David\OneDrive\JavaProjects\ScriptCreator\logs\scriptcreator.log
C:\Users\David\OneDrive\JavaProjects\ScriptCreator\logs\scriptcreator.log.2
